<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<!-- book edit-->
<main>
 <div class="container">
  <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  <h1>Editing Book</h1>
  <%= form_with model: @book do |f| %>
  <div>
   <label for="book_title">Title</label>
  </div>
   <%= f.text_field :title, autofocus: true, id:"book_title" %>
  <div>
   <label for="user_introduction">Opinion</label>
  </div>
   <%= f.text_area :body, autofocus: true, maxlength: 200, id:"book_opinion" %>
  <div class="form-group">
   <input type="submit" name="commit" value="Update Book"
   class="btn btn-success"  data-disable-with="Update Book"%>
  </div>
    <%= link_to "Show", book_path(@book.id) %>
     | 
    <%= link_to "Back", books_path %>
  </div>
  </div>
 </div>
</main>
  <% end %>